.loading-logo{
	content:url("/images/loading_logo.png");
	position: relative;
	top: -60px;
}

.clear{
    clear:both;
}

#container{
    width: 100%;
    height:100%; 
    overflow: hidden;
    top: 50px;
	position: fixed;
}

.animated-width{
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.overlay-div{
	position:fixed;
	top:50px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	z-index: 1234567891011;
	background-image:url('/images/x_loader.gif');
	background-size: 50px 50px;
	background-repeat:no-repeat;
	background-position:center;
	color:white;
	text-align:center;
}

.page-loader{
	position:fixed;
	top:50px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
	z-index: 1234567891011;
	background-size: 50px 50px;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	pointer-events:none;
}

.overlay-div .loading-holder{
	margin-left: auto;
	margin-right: auto;
	margin-top: -130px;
	position: relative;
	top: 50%;
}

.overlay-div .loading-holder img{
	height: 120px;
	padding-top: -90px;
}

.overlay-div .loading-holder .loading-text-holder {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	margin-top: 55px;
	color: #999;
}

.first-time-overlay-div{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	z-index: 999999999;
	background-repeat:no-repeat;
	background-position:center;
	 -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.slow-animated-opacity{
	-webkit-transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
 	-moz-transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  	-o-transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zero-opacity{
	opacity:0;
}

.start-editing-btn{
	cursor:pointer;
	position:fixed;
	left:50%;
	top:65%;
	margin-left:-150px;
	width: 300px;
	padding: 10px;
	text-align: center;
	background-color:#33CC66;
	color:white;
	font-family:Arial;
	font-size:25px;
	z-index:9999999999;
}

#lightbox-menus-holder{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
	left: 0px;
    display: table;
    z-index: 99999999999;
}

.login-dialog-wrapper{
	display:table-cell;
	vertical-align:middle;
	background-color: rgba(0,0,0,0.4);
}

.login-title{
  display:none;
  z-index: 9999999;
  font-family: HelveNueThinNormal;
  font-size: 23px;
  margin-bottom: 20px;
  display: block!important;
  text-align:left;
  border-bottom: 1px solid #666;
  padding-bottom: 15px;
}

#translation-box{
	margin-left: 20px;
}