#publish-module{
	color:white;
	position:fixed;
	left:42%;
	
    top: 50%;
    transform: translateY(-50%);
	
	font-family:HelveNueThinNormal;
	
}


#publish-module.payment-manual .with-free{
	display:none!important;
}

#publish-module .publish-step{
	display:none;
	font-size: initial;
}

#publish-module .publish-step:not(.large-step){
	max-width:500px;
}

#publish-module .publish-title{
	font-size: 32px;
	padding-bottom: 5px;
}

#publish-module .grey-title{
	color:grey;
}

#publish-module .publish-text{
	font-size:15px;
	font-family:Arial;
}

#publish-module .coupon-text{
    margin-top: 10px;
	color: #e9e9e9;
	background-color: #0099CC;
    padding: 10px;
    box-sizing: border-box;
}


.domain-purchase.coupon-text{
	display:none;
}

#publish-module #coupon-form{
	display: none;
}

#xprs_click, #xprs_click_domain
{
    white-space: nowrap;
    overflow: hidden;
    border-radius: 13px;
    font-family: "Arial", bold, italic;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #ffa823;
    color: #0E3168;
    background: #ffa823;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: pointer;
    z-index: 0;
    margin-top: 13px;
    float: right;
    line-height: 23px;
    padding-left:20px;
    padding-right:20px;
}

#xprs_click:before, #xprs_click_domain:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    top: 0;
    left: 0;
    background: #ffa823;
    background: -webkit-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
    background: -moz-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
    background: -ms-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
    background: linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
    z-index: -2;
}

#xprs_click:after, #xprs_click_domain:after {
    content: " ";
    position: absolute;
    width: 98%;
    height: 60%;
    border-radius: 40px 40px 38px 38px;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, #fefefe 0%, #fed994 100%);
    background: -moz-linear-gradient(top, #fefefe 0%, #fed994 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #fed994 100%);
    background: linear-gradient(top, #fefefe 0%, #fed994 100%);
    z-index: -1;
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    -ms-transform: translateX(1%);
    transform: translateX(1%);
}


#publish-module  .paypal-button {
    margin-top: 13px;
    float: right;
    visibility:hidden!important;
}

#publish-module #coupon-form.visible{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#publish-module .publish-text.free-title{
	font-size: 16px;
	color: white;
}

#publish-module .publish-text.greyed{
	font-size:14px;
	color:#777;
}


#publish-module .publish-ui{
	display:none;
}

#publish-module .publish-back{
	position:fixed;
	top:20px;
	left:20px;
	color:white;
	font-size:20px;
}

#publish-module .publish-back img{
	vertical-align: middle;
	width: 60px;
}


#publish-module select{
	background-color: black;
	width: 500px;
	text-align: center;
	border: 1px solid grey;
	padding: 15px;
	outline: 0px;
	color: white;
	font-size: 25px;
	font-family: HelveNueThinNormal;
	display: block;
	margin-bottom:30px;
	margin-top:30px;
}

#publish-module select.pro-select{
	width: 500px;
}

#publish-module input{
	background-color:black;
	font-size:25px;
	color:white;
	border:1px solid #555;
	display:block;
	width: 478px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 5px 0px;
	padding: 10px 0px;
	padding-right:20px;
}

#publish-module input.medium-input{
	width:313px;;
	display: inline-block;
}

#publish-module input.half-input{
	width:214px;
	margin-left:1px;
	display: inline-block;
	padding: 10px;
}

#publish-module select.populated-dropdown{
	width:237px;
	display: inline-block;
	border: 1px solid #666;
	padding: 15px;	
	color: #999;
 	margin-bottom: 0px; 
 	margin-top: 0px; 
}


#publish-module input.small-input{
	width:116px;
	display: inline-block;
	margin-right:0px;
}

#publish-module .domain-dot{
	display:inline-block;
	font-size:50px;
}


#publish-module .goto-btn{
	font-family:HelveNueThinNormal;
	border: solid 2px #333;
	padding :5px 10px;
	color:white;
	display:inline-block;
	margin: 15px 0px;
}

#publish-module .main-btn{
	display: inline-block;
	background-color: #00CC00;
	font-family:Arial;
	float: right;
	padding: 15px 50px;
	font-size: 18px;
	color: white;
	border: none;
	text-align: center;
}

#publish-module .secondary-btn{
	display: inline-block;
	background-color: #666;
	font-family:Arial;
	float: left;
	padding: 15px 45px;
	font-size: 18px;
	color: white;
	border: none;
	text-align: center;
	margin: 8px 0px;
}



#publish-module #free-url-placeholder, #publish-module #free-url-placeholder a,  #domain-url-placeholder , #domain-url-placeholder a{
	color:#0099CC;
	font-size: 18px;
	padding-top: 3px;
	text-decoration: none;
	max-width: 400px;
	text-align: left;
}

#publish-module .feature-list{
	background-color:#333;
	margin-top:20px;
	padding: 8px 15px;
}

#publish-module .feature-list ul{
	list-style:disc;
	padding: 0px 30px;
	margin-top: 0px;
	padding-top:10px;
}

#publish-module .feature-list ul li{
	color: white;
	font-size: 13px;
	padding: 2px;
	font-family: Arial;
}

#publish-module .feature-list ul li .feature-text{
	color: #999;

}

#publish-module .feature-list ul li.important-feature{
	list-style:none;
	color:white;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: -20px;
}

#publish-module .payment-details {
	padding-top: 60px;
	padding-bottom: 20px;
}

#publish-module .payment-details img{
	vertical-align: middle;
	float: right;
}

#publish-module .payment-details img:first-child{
	margin-left: 135px;
}


#publish-module .small-print{
	color: #666;
	font-family: Arial;
	font-size: 10px;
}

#publish-module .offers-list{
	font-family:Arial;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center;
}

#publish-module .offers-list span{
	padding: 10px;
}

#publish-module .price-holder{
	float: right;	
}

#publish-module hr{
	color: #666;
	background-color: #666;
	height: 1px;
	border: none;
}

#publish-module .step-btn{
	cursor:pointer;	
}

#publish-module #change-domain{
	color:#999;
	font-size: 15px;
}

#publish-module #offer-selector-holder{
	margin: 20px 0px;
	position: relative;
}

#publish-module #offer-selector-holder #selected-offer{
	border: 2px solid #999;
}




#publish-module #offer-selector-holder ul{
	display:none;
	border: 2px solid #999;
	position: absolute;
	top: 0px;
	background-color: black;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
}

#publish-module #offer-selector-holder ul.shown{
	display:block;
}

#publish-module #offer-selector-holder ul li, #publish-module #offer-selector-holder #selected-offer {
	padding: 10px;
	height: 30px;
	cursor:pointer;
}

#publish-module #offer-selector-holder ul li:hover{
	background-color:#333;
}

#publish-module #offer-selector-holder ul li:not(:last-child){
	border-bottom: 1px solid #333;
}

#publish-module #offer-selector-holder   .offer-main{
	display:inline-block;
	padding-top:7px;	
	padding-left: 20px;
	font-size: 16px;
	font-family:Arial;
}

#publish-module #offer-selector-holder  .offer-main .offer-name-holder{
	
}

#publish-module #offer-selector-holder .offer-main .offer-price-holder{
	margin-left: 45px;
	
}

#publish-module #offer-selector-holder   .offer-details{
	float:right;
	display:inline-block;
	width: 150px;
	padding-top: 3px;
	font-size: 12px;
	font-family:Arial;
}

#publish-module #offer-selector-holder   .offer-details .offer-info{
	display: block;
	color: #999;
}

#publish-module #offer-selector-holder  .offer-details .offer-info-highlight{
	color:#0099CC;
}

#publish-module li.large-offer.custom_payment{
	background-color:#333;
}

#publish-module li.large-offer{
	min-height: 120px;
	height: auto;
	padding: 15px;
	padding-left: 30px;
	padding-bottom: 0px;
    /* width: 455px; */
    cursor:pointer;
    background-size: 50px;
    list-style: none;
    -webkit-transition: background-color 200ms cubic-bezier(0, 0, 0.1, 1.06);
    -moz-transition: background-color 200ms cubic-bezier(0, 0, 0.1, 1.06);
    -o-transition: background-color 200ms cubic-bezier(0, 0, 0.1, 1.06);
    transition: background-color 200ms cubic-bezier(0, 0, 0.1, 1.06);
    
}

#publish-module li.large-offer:hover{
	background-color:#0099CC;
	
	z-index: 9999;
	
}

#publish-module li.large-offer:not(:last-child){
	border-bottom:1px solid #333;
}

#publish-module .large-offer-price-block{
	display: inline-block;
    width: 120px;
    position: absolute;
    padding-top: 10px;
}

#publish-module .large-offer-price{
    font-size: 40px;
}

#publish-module .large-offer-desc-block{
	display: inline-block;
	width: 325px;
	font-family:Arial;
	padding-left: 130px;
}

#publish-module .large-offer-price-desc{
	font-size: 12px;
    color: #ABABAB;
    font-family: Arial;
}

#publish-module .large-offer-desc {
    font-size: 12px;
    color: #AAA;
}

#publish-module .large-offer-title {
   padding-bottom: 8px;
   padding-top: 4px;
}

#publish-module[data-billing-type='columns']{
    top: 0;
    transform: none;
}



.columns-header{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.columns-header .publish-text.free-title{
	width:100%;
}

.column-offer{
	padding: 2.5vw 0;
	box-sizing: border-box;
	cursor:pointer;
}

.columns-header .period-selector{
    display: flex;
	align-items: center;
	font-family: arial;
}

.column-offers{
	display:flex;
	font-family: arial;
}

.column-offer-subtitle{
	color:white;
}

.column-offer-title {
    font-size: 24px;
	margin-bottom: 2px;
	color:white;
}

.column-offer-price {
    font-family: HelveNueThinNormal;
	font-size: 34px;
	margin: 14px 0px;
	margin-bottom:0px;
	color:white;
}



.column-offers .highlighted-offer{
	background-color:#333;
	padding: 2.5vw;
	margin:0 40px;
}

.column-offers .highlighted-offer button.column-offer-select {
	background-color: #2765cb;
	color:white;
}

button.column-offer-select {
	background-color: white;
    outline: none;
    border: none;
    width: 130px;
    margin: 20px;
    padding: 10px 0;
}

.column-offer:hover .column-offer-features::-webkit-scrollbar-thumb{
	background-color: rgba(85, 85, 85,1);
}

.column-offer-features{
	overflow: auto;
	padding: 0px 5px;
}

.column-offer-features.nice-scroller::-webkit-scrollbar{
	background-color: transparent;
}

.column-offer-features.nice-scroller::-webkit-scrollbar-thumb{
	transition:background-color 1ms cubic-bezier(0, 0, 0.1, 1.06);
	background-color: rgba(0,0,0,0);
}

.column-offer-features.nice-scroller::-webkit-scrollbar-track{
	background-color: transparent;
}

.column-offer-features li, .column-offer-desc{
	font-size: 12px;
	color: #AAA;
}

.column-offer-features li{
	white-space: nowrap;
	padding-bottom: 4px;
}

.column-offer-features li:last-child{
	padding-bottom: 10px;
}
.column-offer-features li.extra-fetaure{
	color:white;
}


.period-option {
	padding: 5px 15px;
	color: #888;
	background-color: black;
	transition:background-color 200ms cubic-bezier(0, 0, 0.1, 1.06);
}

.period-option.selected {
	background-color:#333;
	color:white;
}

.column-offers[data-show='annual'] .column-offer.monthly-offer,
.column-offers[data-show='monthly'] .column-offer.annual-offer{
	display:none;
}

.column-offer {
	opacity:0;
	display: flex;
    flex-direction: column;
    height: 100%;
}

.column-offers[data-show='annual'] .column-offer.annual-offer ,
.column-offers[data-show='monthly'] .column-offer.monthly-offer{
	animation:fadeinprice;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

.column-offers[data-show='annual'] .column-offer.annual-offer:nth-child(1) ,
.column-offers[data-show='monthly'] .column-offer.monthly-offer:nth-child(4){
	animation-delay: 0.3s;
}

.column-offers[data-show='annual'] .column-offer.annual-offer:nth-child(2) ,
.column-offers[data-show='monthly'] .column-offer.monthly-offer:nth-child(5){
	animation-delay: 0.6s;
}

.column-offers[data-show='annual'] .column-offer.annual-offer:nth-child(3) ,
.column-offers[data-show='monthly'] .column-offer.monthly-offer:nth-child(6){
	animation-delay: 0.9s;
}

.column-offer.loading-state{
	background-image:none;
}

.column-offer.loading-state button.column-offer-select{
	background-image:url('/images/x_loader.gif');
	background-repeat:no-repeat;
	background-size:contain;
	background-position: center;
	background-size:30px;
	color:transparent!important;
	background-color: #2765cb;
}

.payment-wrapper{
	display:flex;
}

#step3 .column-offers{
	margin:0;
}
#step3 .column-offers .column-offer{
	margin-right: 30px;
	margin-left:0px;
	opacity:1;
}

#step3 .column-offers .column-offer .column-offer-features{
	margin-top:10px;
}


#step3 .column-offers .column-offer-desc,
#step3 .column-offers .column-offer-price,
#step3 .column-offers .column-offer-select{
	display:none;
}
#publish-module .form-wrapper{
	max-width: 500px;
}

#publish-module .publish-step.large-step{
	top: 15vh;
	justify-content: flex-start;
}

#step16 #free-url-placeholder{
	display:inline-block;
}

#payment-form{
	max-width: 480px;
}

#publish-module .publish-step#step16{
	overflow: hidden;
	height:85vh;
}

#publish-module #step16 #free-url-placeholder a, #publish-module #step16 #free-url-placeholder{
	max-width: none;
}

#publish-module #step21 input{
	padding-left:10px;
}

#publish-module #step21 .domain-name-field{
	display:flex;
	margin: 0 2px;
}

#publish-module #step21 input.small-input{
	width:112px;
}

@keyframes fadeinprice {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 600px) {
	#xprs.site-thumb {
		width:0;
	}
}